/* src/styles/Plant.css */
.plant {
  background-color: #eafbea; /* Light Green */
  border: 1px solid #99e699; /* Green */
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

h3 {
  margin: 0 0 10px 0;
  color: #228B22; /* Forest Green */
}

p {
  margin: 5px 0;
  color: #4CAF50; /* Green */
}
.progress-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-label {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000; /* Adjust color for visibility */
  z-index: 1; /* Ensure label is above the progress bar */
}

.progress-container {
  margin-top: 10px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}
.buttons-container {
  display: flex; /* Aligns children (buttons) in a row */
  justify-content: space-between; /* Maximizes the space between buttons */
  align-items: center; /* Vertically centers the buttons */
}

button.harvest-button {
  background: linear-gradient(135deg, #6B8E23, #556B2F); /* Olive Drab Gradient */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow Effect */
  transition: all 0.3s ease-in-out; /* Transition Effect */
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

button.harvest-button:hover {
  background: linear-gradient(135deg, #556B2F, #6B8E23); /* Hover Effect */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Hover Shadow Effect */
}

button.harvest-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Active State Shadow */
  transform: translateY(2px); /* Active State Move Down */
}
.harvest-button:disabled {
  background-color: #A9A9A9; /* DarkGray */
  cursor: not-allowed;
}
