/* src/styles/Upgrade.css */
.upgrade {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

button.upgrade-button {
  background: linear-gradient(135deg, #FFD700, #FFA500); /* Gold to Orange Gradient */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow Effect */
  transition: all 0.3s ease-in-out; /* Transition Effect */
  
}

button.upgrade-button:hover {
  background: linear-gradient(135deg, #FFA500, #FFD700); /* Hover Effect */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Hover Shadow Effect */
}

button.upgrade-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Active State Shadow */
  transform: translateY(2px); /* Active State Move Down */
}

button.upgrade-button.insufficient-funds {
  background: linear-gradient(135deg, #FF6347, #FF4500); /* Tomato to OrangeRed Gradient */
  cursor: not-allowed; /* Change cursor to not-allowed */
}
button.upgrade-button.insufficient-funds:hover,
button.upgrade-button.insufficient-funds:active {
  box-shadow: none; /* Remove shadow effect */
  transform: none; /* Remove move down effect */
}